@import "header";
@import "session";
@import "boards";
@import "cards";
html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  font-family: Avenir;
  font-style: normal;
}

body {
  margin: 0;
  width: 100%;
}

.container {
  margin: 0 26px;
  margin-top: 33px;
}
