.header-logo {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  padding: 16px;
}

.header_loginBtn {
  padding-top: 21px;
  padding-right: 30px;
  display: inline-block;
  color: #000000;
}

.pageTitle {
  padding-top: 5px;
  padding-left: 14px;
}

.PageTitle {
  color: #000000;
  font-size: 18px;
}
