.field {
  padding-top: 20px;
  font-size: 18px;
}

.text {
  width: 362px;
  height: 40px;
  left: 26px;
  top: 190px;
  color: #f4f4f4;
  background: #f4f4f4;
  border-radius: 10px;
  border: none;
}

.btn-primary {
  position: absolute;
  width: 362px;
  height: 40px;
  left: 30px;
  top: 820px;

  background: #f8bd1c;
  border-radius: 4px;
  border: none;
}
